---
import Layout from "../layouts/Layout.astro";
import "flowbite";
import Image from "astro/components/Image.astro";
import { hero, vector, rana } from "../assets";
import Button from "../components/Button.astro";
import { philosophy } from "../assets";
import Slider from "../components/Slider.astro";
---

<Layout title="Sunbird Speech Therapy">
  <!-- Hero -->
  <section>
    <div class="overflow-hidden">
      <Slider />
    </div>
  </section>
</Layout>

<style>
  * {
    /* border: 1px solid red; */
  }

  .material-symbols-outlined {
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }
</style>
